# Bỏ qua các file cấu hình cá nhân hoặc hệ thống
.gitconfig
.python_history
.viminfo
adb_usb.ini

# Bỏ qua các file model/binaries lớn (như các file ggml bạn đang thấy)
*.bin
*.dll

# Bỏ qua thư mục node_modules (nếu có)
node_modules/